---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";

const pageTitle = "About Peter";

const identity = {
  firstName: "Peter",
  country: "Ireland",
  occupation: "Data Viz and Front-end Dev",
  hobbies: ["football", "reading", "running"],
};

const skills = [
  "Python",
  "R",
  "D3",
  "Javascript",
  "React",
  "Astro",
  "Svelte",
  "Matplotlib",
];
---

<Layout title={pageTitle}>
  <Nav />
  <main>
    <h1 class="text-gradient">{pageTitle}</h1>
    <h2>... and this is an Astro site</h2>

    <p>I'm just going through the intro tutorial</p>

    <p>Here is some info about me:</p>
    <ul>
      <li>
        I'm not going through this entire thing so I'll just do my name is {
          identity.firstName
        }
      </li>
      <li>I'm from {identity.country}</li>
    </ul>

    <p>My skills include - this is just gonna be a map over an array</p>
    <ul>
      {skills.map((item) => <li>{item}</li>)}
    </ul>

		<p>I'm not going to do it here because it's just regular js but you can conditionally render content with ternarys and && bools</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
