---



---


<nav class="navbar">
  <ul class="nav-items">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about/">About</a></li>
    <li class="nav-item"><a href="/blog/">Blog</a></li>
    
  </ul>
</nav>

<style>

  .navbar {
    
  }
  .nav-items {
  display: flex;
  font-weight: 700;
  list-style-type: none;
  
  }

  .nav-item {
    padding: 1rem;
    color: #fff;
    }
  
</style>